@{
    ViewBag.Title = "Index";
}

<h2>Items in Blob Container</h2>

<h3>The SAS Key: @ViewBag.Sas</h3>

<ul>

    @foreach (string url in ViewBag.BlobFiles)
    {
        <li>
           @Html.ActionLink(url, "GetImage", new 
           { 
               id = SharedClientAcessUrls.Lib.AzureBlobSA.EncodeTo64(url), 
               sas = @ViewBag.Sas 
           }, 
           new 
           { 
               target = "_blank" 
           }) 
        </li>
    }

</ul>
